.registeremp .form-head{
    color: #008AFF;
    font-family: 'Poppins', sans-serif;
    
}
body{
    background: #eee;
    font-family: 'Poppins', sans-serif;
}

.table{
    font-family: 'Poppins', sans-serif;
}
body{
    background: #eee;
    font-family: 'Poppins', sans-serif;
}

#side_nav{
    background: #F4FAFF;
    min-width: 250px;
    max-width :250px;
    transition: all 0.4s;
 
 
}

.content{
    position: relative;
   
    background-color: white;
   
    
}

.content .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: rgb(240, 238, 245);
    
    transition: var(--tran-05);
    box-shadow: 0px 0px 36px 15px rgba(184, 179, 179, 0.28);
    z-index: 10;
}

.content .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
i{
    color:#008AFF;
}
.top img{
    width: 40px;
    border-radius: 50%;
}

.avatar1{

    display: flex;
    
    width: 50px;
    justify-content: space-around;
    

}


.flex {
    display: flex;
    width: 50px;
    justify-content: space-around;
    
}

.img{
    position: relative;
    margin-left: 5px; 
}
.top .img {
    width: 40px;
    border-radius: 50%;
}

.content{
    min-height: 100vh;
    width :100%
}


.sidebar li:hover{
    background: #fdfeff;
}

.sidebar li.active{
    background: #008AFF;
    border-radius:8px;
    color:#ffffff
}

.sidebar li.active a, .sidebar li.active a:hover{
    color:#f7fbff;
    font-weight: bold;
}

.sidebar li a{
    color :#008AFF;
    font-weight: 450px;
}

@media(max-width:767px)
{
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index:1;
    }

    #side_nav.active{
        margin-left: 0;
    }


}

select{
    border:0px;
    font-family: 'Poppins', sans-serif;
    width:150px;
    padding: 10px;
    border-radius: 10px;
}

.sidebar .name{
    color: #008AFF;
}

i{
    color:#008AFF;
}
.table{
    
    background-color: #ffffff;
    width:75%;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0px 0px 36px 15px rgba(184, 179, 179, 0.28);
}

.col-6 .col-sm-6{ 
    width:748px;
    height:813px;
    image-resolution: rectangle;
    font-size: 20px 16px 18px;
    position:fixed;

}
.fine{
    position:fixed;

}

.rating{
    border:none;

}

.rating {
    float:left;
    border:none;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}
.rating:not(:checked) > label:before {
    content:'★ ';
}
.rating > input:checked ~ label {
    color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating > label:active {
    position:relative;
}
